.btn_custome_r{ background-color:#ff150059 !important;}
.btn_custome_r:hover{filter: grayscale(100%);}


.showObjCol {
    opacity: 1;  
    /* position: absolute; */
    /* margin-bottom: -10px; */
    /* font-weight: bold; */
   // background-color: #cbe2f9;
   color: #ea6969;
   
   font-weight: bold;
  }
  
  .showPassolor {
 //   background-color:maroon;
color: #40e000;
font-weight: bold;
  }  

  .showDELEcol{
   // background-color:rgb(175, 15, 15);
   color: #b40000;
   font-weight: bold;
  }
  .showPENDcol{
   // color: #0f94d1;
   // color: #4A66D8;
    color: #2560be;
    font-weight: bold;
  }