// .Search-btn-position {
//     position: absolute;
//     right: 0px;
//     top: 5px;
//   }
  
//   .modal-ku {
//     /* width: 900px; */
//     width: auto;
//     margin: auto;
//   }
  
//   .modal-btn {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     /* margin-block: 10px; */
//     height: 100px;
//   }
  
//   .showDiv1 {
//     display: flex;
//     margin-block: 0px;
//     flex-direction: column;
//     margin-inline: 50px;
//   }
  
//   .example-1 {
//     position: relative;
//     overflow-y: scroll;
//     height: 200px;
//     /* width: 100%; */
//   }
  
  
//    /*-----------------------------*/
//   /*Components - Toaster*/
//   /*-----------------------------*/
//   ::ng-deep .toast-container {
//     --bs-toast-zindex: 1090 !important;
//     position: absolute !important;
//     z-index: var(--bs-toast-zindex);
//     width:auto;
//     max-width: 100% !important;
//     height: 12% !important;
//     pointer-events: none !important;
//   }
   
//   ::ng-deep .toast-top-full-width {
//     top: 0px;
//     right: 20px;
//     left: 40% !important;
//     width:fit-content;
//     max-width: 100% !important;
//     justify-content: center !important;
//     display: flex !important;
//     position: absolute !important;
//   }
  
  
  
  
//   table {
//   width: 100%;
//   }
  
//   th.mat-sort-header-sorted {
//   color: black;
//   }
  
//   .example-full-width {
//   width: 100%;
//   }
  
//   .form-field-width {
//   width: 50%;
//   }
  
//   .loader-container{
//   position : absolute;
//   height: 100%;
//   width: 100%;
//   /* background: black;
//   opacity: 0.8; */
//   margin: 2em auto;
//   z-index: 99;
//   }
  
  
//   .OBListHdrFont{
//   font-size: 10pt;
//   font-weight: bold;
//   color: black;
//   }
  
  
//   /* For Table Horizontal Scroll */
//   .scroll-container{
//   border: 2px solid silver;
//   display: flex;
//   align-items: center;
//   overflow: hidden;
//   }
  
  
.empty-message {
    text-align: center;
    color: #888;
    padding: 20px;
    font-size: 15pt;
  }