.showDiv1 {
    display: flex;
    margin-block: -22px;
    flex-direction: row;
    margin-inline: 20px;
  }
  .example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px;
    
    /* width: 100%; */
  }
  
  
 
.showRevoke {
  opacity: 1;
  /* position: absolute; */
  /* margin-bottom: -10px; */
 /* font-weight: bold; */
 background-color: green;
 font-weight: bold;
 color: black;
 width: 90px;
}
 
 
.hideRevoke  {
  opacity: 0;
  position: absolute; 
  margin-bottom: -10px;
}


.showEnable {
  opacity: 1;
  /* position: absolute; */
  /* margin-bottom: -10px; */
 /* font-weight: bold; */
 background-color: red;
 color: black;
 font-weight: bold;
 width: 90px;
}
 

 
.hideEnable  {
  opacity: 0;
  position: absolute; 
  margin-bottom: -10px;
}
  
table {
  width: 100%;
  font-size: 11pt;
}


.thead-light{
  background-color: #e4edfa;
  color: #414141;
  font-weight: 600;
  font-size: 10pt;
  padding: 0 12px;
  white-space: nowrap;
}
