.Search-btn-position {
    position: absolute;
    right: 0px;
    top: 5px;
  }
  
  .modal-ku {
    /* width: 900px; */
    width: auto;
    margin: auto;
  }
  
  .modal-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* margin-block: 10px; */
    height: 100px;
  }
  
  .showDiv1 {
    display: flex;
    margin-block: 0px;
    flex-direction: column;
    margin-inline: 50px;
  }
  
  .example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px;
    /* width: 100%; */
  }
  h6 {
    margin: 20px 0 16px;
}
  
 /*-----------------------------*/
/*Components - Toaster*/
/*-----------------------------*/
::ng-deep .toast-container {
  --bs-toast-zindex: 1090 !important;
  position: absolute !important;
  z-index: var(--bs-toast-zindex);
  width: auto;
  max-width: 100% !important;
  height: 12% !important;
  pointer-events: none !important;
}

::ng-deep .toast-top-right {
  top: 0px;
  right: 0px;
  left: 0px !important;
  justify-content: center !important;
  display: flex !important;
  position: absolute !important;
}
.row
{
  padding: 16px 0px 0px 20px;
}

.btn_custome_r{ background-color:#ff150059 !important;}
.btn_custome_r:hover{filter: grayscale(100%);}