<div class="container-fluid">
  <mat-card>
      <h2>New PD A/C Opened Through Centralised PD A/C System</h2>

      <form [formGroup]="creationForm" #options="ngForm" >
          <div class="row mt-4">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
            <mat-radio-group aria-label="Select an option"
                formControlName="accountType" >
                <mat-radio-button color="primary"  class="ms-3" value="1">New PD A/C Details
                </mat-radio-button>
                <mat-radio-button color="primary" class="ms-3" value="2">View PD A/C Details
                </mat-radio-button>
                <mat-error *ngIf="creationForm.get('accountType').invalid && creationForm.get('accountType').touched">Please Select  Major Type</mat-error>
            </mat-radio-group>

            <button
            mat-stroked-button
            color="primary"
            class="ms-3"
            (click)="Reset()"

          >
            Reset
          </button>
        </div>





          </div>
          </form>
          </mat-card>

          <mat-card class="mt-3" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4" >
                        <mat-form-field appearance="standard"  role="search" class="w-100">
                            <input matInput type="search" placeholder="Enter For Search"
                                aria-label="Search" (keyup)="applyFilter($any($event.target).value)">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="scroll-container" style="overflow: auto">
                <table mat-table matSort matTableExporter [dataSource]="creationList"
                    style="width:100%" (matSortChange)="announceSortChange($event)" matSort
                    class="mat-elevation-z8" id="test">


                    <ng-container matColumnDef="SrNo">
                        <th mat-header-cell *matHeaderCellDef   mat-sort-header
                            sortActionDescription="Sort by SrNo" class="OBListHdrFont">
                            SrNo
                        </th>
                        <td mat-cell *matCellDef="let item; let j = index"> </td>
                    </ng-container>

                    <ng-container matColumnDef="pdac">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by pdac" class="OBListHdrFont">
                          PD A/C
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>

                    <ng-container matColumnDef="pdacname">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by pdacname" class="OBListHdrFont">
                          PD A/C Name
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>

                    <ng-container matColumnDef="treasury">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by treasury" class="OBListHdrFont">
                          Treasury
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>

                    <ng-container matColumnDef="budgetHead">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by budgetHead" class="OBListHdrFont">
                          Budget Head
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>

                    <ng-container matColumnDef="DDoCode">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by DDoCode" class="OBListHdrFont">
                          DDO Code
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>

                    <ng-container matColumnDef="BearingFlag">
                      <th mat-header-cell *matHeaderCellDef   mat-sort-header
                          sortActionDescription="Sort by BearingFlag" class="OBListHdrFont">
                          Bearing
                          Flag
                      </th>
                      <td mat-cell *matCellDef="let item; let j = index"> </td>
                  </ng-container>





                    <ng-container matColumnDef="empty-row">
                      <td mat-cell *matCellDef="let element">Data Not Found !</td>
                  </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                    </div>
                    </mat-card>


                    <mat-card class="mt-3">
                      <h2 class="text-center"> <u> IFMS Pd Information For Updation </u></h2>

                      <form [formGroup]="pdInformationForm" #options="ngForm" >
                          <div class="row mt-4">

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label> PDAcc No.</mat-label>
                                <input type="tel" placeholder="PDAcc No" aria-label="Number"  matInput
                                  (paste)="(true)"  formControlName="pdaccno"  />
                                <mat-error *ngIf="pdInformationForm.get('pdaccno').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccno').errors?.required">
                                    Please Enter PDAcc No.
                                  </div>
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccno').errors?.pattern">
                                    Please Enter Numerical value
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label> PDAcc Name</mat-label>
                                <input type="tel" placeholder="PDAcc Name"   matInput
                                  (paste)="(true)"  formControlName="pdaccname"  />
                                <mat-error *ngIf="pdInformationForm.get('pdaccname').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccname').errors?.required">
                                    Please Enter PDAcc Name
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label> Budget Head</mat-label>
                                <input type="tel" placeholder="Budget Head"   matInput
                                  (paste)="(true)"  formControlName="budgetHead"  />
                                <mat-error *ngIf="pdInformationForm.get('budgetHead').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('budgetHead').errors?.required">
                                    Please Enter Budget Head
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label> Bearing Flag</mat-label>
                                <input type="tel" placeholder="Bearing Flag"   matInput
                                  (paste)="(true)"  formControlName="bearingFlag"  />
                                <mat-error *ngIf="pdInformationForm.get('bearingFlag').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('bearingFlag').errors?.required">
                                    Please Enter Bearing Flag
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label> Dept.Sanction No</mat-label>
                                <input type="tel" placeholder="Dept.Sanction No"   matInput
                                  (paste)="(true)"  formControlName="deptSanctionNo"  />
                                <mat-error *ngIf="pdInformationForm.get('deptSanctionNo').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('deptSanctionNo').errors?.required">
                                    Please Enter Dept.Sanction No
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Dept.Sanction Date</mat-label>
                                <input type="tel" placeholder="Dept.Sanction Date"   matInput
                                  (paste)="(true)"  formControlName="deptSanctionDate"  />
                                <mat-error *ngIf="pdInformationForm.get('deptSanctionDate').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('deptSanctionDate').errors?.required">
                                    Please Enter Dept.Sanction Date
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Controlling Office Name 1</mat-label>
                                <input type="tel" placeholder="Controlling Office Name 1"   matInput
                                  (paste)="(true)"  formControlName="controllingOfficeName1"  />
                                <mat-error *ngIf="pdInformationForm.get('controllingOfficeName1').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('controllingOfficeName1').errors?.required">
                                    Please Enter Controlling Office Name 1
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Controlling Office Name 2</mat-label>
                                <input type="tel" placeholder="Controlling Office Name 2"   matInput
                                  (paste)="(true)"  formControlName="controllingOfficeName2"  />
                                <mat-error *ngIf="pdInformationForm.get('controllingOfficeName2').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('controllingOfficeName2').errors?.required">
                                    Please Enter Controlling Office Name 2
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Treasury Sanction No.</mat-label>
                                <input type="tel" placeholder="Treasury Sanction No."   matInput
                                  (paste)="(true)"  formControlName="treasurySanctionNo"  />
                                <mat-error *ngIf="pdInformationForm.get('treasurySanctionNo').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('treasurySanctionNo').errors?.required">
                                    Please Enter Treasury Sanction No.
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Treasury Sanction Date</mat-label>
                                <input type="tel" placeholder="Treasury Sanction Date"   matInput
                                  (paste)="(true)"  formControlName="treasurySanctionDate"  />
                                <mat-error *ngIf="pdInformationForm.get('treasurySanctionDate').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('treasurySanctionDate').errors?.required">
                                    Please Enter Treasury Sanction Date
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                              <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>HolderStatus</mat-label>
                                <input type="tel" placeholder="HolderStatus"   matInput
                                  (paste)="(true)"  formControlName="holderStatus"  />
                                <mat-error *ngIf="pdInformationForm.get('holderStatus').touched">
                                  <div class="text-danger error_msg" *ngIf="pdInformationForm.get('holderStatus').errors?.required">
                                    Please Enter HolderStatus
                                  </div>
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <mat-form-field class="w-100" appearance="legacy">
                                  <mat-label>DDO Code</mat-label>
                                  <input type="tel" placeholder="DDO Code"   matInput
                                    (paste)="(true)"  formControlName="DDOCode"  />
                                  <mat-error *ngIf="pdInformationForm.get('DDOCode').touched">
                                    <div class="text-danger error_msg" *ngIf="pdInformationForm.get('DDOCode').errors?.required">
                                      Please Enter DDO Code
                                    </div>
                                  </mat-error>
                                </mat-form-field>
                              </div>

                              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <mat-form-field class="w-100" appearance="legacy">
                                  <mat-label>Opening Balance</mat-label>
                                  <input type="tel" placeholder="Opening Balance"   matInput
                                    (paste)="(true)"  formControlName="openingBalance"  />
                                  <mat-error *ngIf="pdInformationForm.get('openingBalance').touched">
                                    <div class="text-danger error_msg" *ngIf="pdInformationForm.get('openingBalance').errors?.required">
                                      Please Enter Opening Balance
                                    </div>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="text-end">
                              <button mat-raised-button color="primary" [disabled]="!options.valid" type="submit">
                                Submit
                              </button>
                              <button mat-stroked-button color="primary" class="ms-3" (click)="Reset()">
                                Reset
                              </button>
                            </div>
                            </div>
                          </form>
                          </mat-card>


                          <mat-card class="mt-3" style="background-color: rgba(177, 248, 248, 0.205);">
                            <h2 class="text-center"> <u> RajKosh Pd Information For Updation </u></h2>

                            <form [formGroup]="pdInformationForm" #options="ngForm" >
                                <div class="row mt-4">

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label> PDAcc No.</mat-label>
                                      <input type="tel" placeholder="PDAcc No" aria-label="Number"  matInput
                                        (paste)="(true)"  formControlName="pdaccno"  />
                                      <mat-error *ngIf="pdInformationForm.get('pdaccno').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccno').errors?.required">
                                          Please Enter PDAcc No.
                                        </div>
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccno').errors?.pattern">
                                          Please Enter Numerical value
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label> PDAcc Name</mat-label>
                                      <input type="tel" placeholder="PDAcc Name"   matInput
                                        (paste)="(true)"  formControlName="pdaccname"  />
                                      <mat-error *ngIf="pdInformationForm.get('pdaccname').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('pdaccname').errors?.required">
                                          Please Enter PDAcc Name
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>


                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label> Budget Head</mat-label>
                                      <input type="tel" placeholder="Budget Head"   matInput
                                        (paste)="(true)"  formControlName="budgetHead"  />
                                      <mat-error *ngIf="pdInformationForm.get('budgetHead').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('budgetHead').errors?.required">
                                          Please Enter Budget Head
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label> Bearing Flag</mat-label>
                                      <input type="tel" placeholder="Bearing Flag"   matInput
                                        (paste)="(true)"  formControlName="bearingFlag"  />
                                      <mat-error *ngIf="pdInformationForm.get('bearingFlag').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('bearingFlag').errors?.required">
                                          Please Enter Bearing Flag
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label> Dept.Sanction No</mat-label>
                                      <input type="tel" placeholder="Dept.Sanction No"   matInput
                                        (paste)="(true)"  formControlName="deptSanctionNo"  />
                                      <mat-error *ngIf="pdInformationForm.get('deptSanctionNo').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('deptSanctionNo').errors?.required">
                                          Please Enter Dept.Sanction No
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>Dept.Sanction Date</mat-label>
                                      <input type="tel" placeholder="Dept.Sanction Date"   matInput
                                        (paste)="(true)"  formControlName="deptSanctionDate"  />
                                      <mat-error *ngIf="pdInformationForm.get('deptSanctionDate').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('deptSanctionDate').errors?.required">
                                          Please Enter Dept.Sanction Date
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>Controlling Office Name 1</mat-label>
                                      <input type="tel" placeholder="Controlling Office Name 1"   matInput
                                        (paste)="(true)"  formControlName="controllingOfficeName1"  />
                                      <mat-error *ngIf="pdInformationForm.get('controllingOfficeName1').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('controllingOfficeName1').errors?.required">
                                          Please Enter Controlling Office Name 1
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>Controlling Office Name 2</mat-label>
                                      <input type="tel" placeholder="Controlling Office Name 2"   matInput
                                        (paste)="(true)"  formControlName="controllingOfficeName2"  />
                                      <mat-error *ngIf="pdInformationForm.get('controllingOfficeName2').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('controllingOfficeName2').errors?.required">
                                          Please Enter Controlling Office Name 2
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>Treasury Sanction No.</mat-label>
                                      <input type="tel" placeholder="Treasury Sanction No."   matInput
                                        (paste)="(true)"  formControlName="treasurySanctionNo"  />
                                      <mat-error *ngIf="pdInformationForm.get('treasurySanctionNo').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('treasurySanctionNo').errors?.required">
                                          Please Enter Treasury Sanction No.
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>Treasury Sanction Date</mat-label>
                                      <input type="tel" placeholder="Treasury Sanction Date"   matInput
                                        (paste)="(true)"  formControlName="treasurySanctionDate"  />
                                      <mat-error *ngIf="pdInformationForm.get('treasurySanctionDate').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('treasurySanctionDate').errors?.required">
                                          Please Enter Treasury Sanction Date
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>


                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-form-field class="w-100" appearance="legacy">
                                      <mat-label>HolderStatus</mat-label>
                                      <input type="tel" placeholder="HolderStatus"   matInput
                                        (paste)="(true)"  formControlName="holderStatus"  />
                                      <mat-error *ngIf="pdInformationForm.get('holderStatus').touched">
                                        <div class="text-danger error_msg" *ngIf="pdInformationForm.get('holderStatus').errors?.required">
                                          Please Enter HolderStatus
                                        </div>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                      <mat-form-field class="w-100" appearance="legacy">
                                        <mat-label>DDO Code</mat-label>
                                        <input type="tel" placeholder="DDO Code"   matInput
                                          (paste)="(true)"  formControlName="DDOCode"  />
                                        <mat-error *ngIf="pdInformationForm.get('DDOCode').touched">
                                          <div class="text-danger error_msg" *ngIf="pdInformationForm.get('DDOCode').errors?.required">
                                            Please Enter DDO Code
                                          </div>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                      <mat-form-field class="w-100" appearance="legacy">
                                        <mat-label>Opening Balance</mat-label>
                                        <input type="tel" placeholder="Opening Balance"   matInput
                                          (paste)="(true)"  formControlName="openingBalance"  />
                                        <mat-error *ngIf="pdInformationForm.get('openingBalance').touched">
                                          <div class="text-danger error_msg" *ngIf="pdInformationForm.get('openingBalance').errors?.required">
                                            Please Enter Opening Balance
                                          </div>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="text-end">
                                    <button mat-raised-button color="primary" [disabled]="!options.valid" type="submit">
                                      Submit
                                    </button>
                                    <button mat-stroked-button color="primary" class="ms-3" (click)="Reset()">
                                      Reset
                                    </button>
                                  </div>
                                  </div>
                                </form>
                                </mat-card>
                              </div>

