  // file browse
  .upload-lable-text {
    background-color: #2A6DD90F;
    border: 1px dashed #006FE1;
}

.file-browse {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}
