.Search-btn-position {
    position: relative;
    left: 22px;
    top: 15px;
  }
  
  .modal-ku {
    /* width: 900px; */
    width: auto;
    margin: auto;
  }
  
  .modal-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* margin-block: 10px; */
    height: 100px;
  }
  
  .showDiv1 {
    display: flex;
    margin-block: 0px;
    flex-direction: column;
    margin-inline: 50px;
  }
  
  .example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px;
    /* width: 100%; */
  }

  
 /*-----------------------------*/
/*Components - Toaster*/
/*-----------------------------*/
::ng-deep .toast-container {
  --bs-toast-zindex: 1090 !important;
  position: absolute !important;
  z-index: var(--bs-toast-zindex);
  width: auto;
  max-width: 100% !important;
  height: 12% !important;
  pointer-events: none !important;
}

::ng-deep .toast-top-right {
  top: 0px;
  right: 0px;
  left: 0px !important;
  justify-content: center !important;
  display: flex !important;
  position: absolute !important;
 
}




table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-full-width {
  width: 100%;
}

.form-field-width {
  width: 50%;
}

.loader-container{
  position : absolute;
  height: 100%;
  width: 100%;
  /* background: black;
  opacity: 0.8; */
  margin: 2em auto;
  z-index: 99;
}


.OBListHdrFont{
  font-size: 10pt;
  font-weight: bold;
  color: black;
}


.flag-delay {
  background-color: orange;
}

.flag-objection {
  background-color: maroon;
  color: white;
}
 

 


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  height: 28%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 1px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}


.showObj {
  opacity: 1;
  /* position: absolute; */
  /* margin-bottom: -10px; */
  /* font-weight: bold; */
  background-color: lightgray;
}

.hideObj  {
  opacity: 0;
  position: absolute;
  margin-bottom: -10px;

}


.showRmrk {
  opacity: 1;
  /* position: absolute; */
  /* margin-bottom: -10px; */
 /* font-weight: bold; */
 background-color: lightgray;
}

.hideRmrk  {
  opacity: 0;
  position: absolute; 
  margin-bottom: -10px;


}

.disabled{
  pointer-events: none;
  position: absolute;
  margin-bottom: -10px;

}


 /* For Table Horizontal Scroll */
.scroll-container{
  border: 2px solid silver;
  display: flex;
  align-items: center;
  overflow: hidden;
}
 

 
 