// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// @deprecated renamed to $dark-primary-text.
// @breaking-change 8.0.0
$black-87-opacity: rgba(black, 0.87);
// @deprecated renamed to $light-primary-text.
// @breaking-change 8.0.0
$white-87-opacity: rgba(white, 0.87);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-12-opacity: rgba(black, 0.12);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-12-opacity: rgba(white, 0.12);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-6-opacity: rgba(black, 0.06);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-6-opacity: rgba(white, 0.06);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.80);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$ds-blue-palette: (
  50: #e3f1ff,
  100: #bbdbfe,
  200: #8fc6ff,
  300: #62affe,
  400: #419efe,
  500: #278dfc,
  600: #2a7fed,
  700: #2a6dd9,
  800: #295cc6,
  900: #263ca7,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$ds-secondary-palette: (
  50: #e9e9fa,
  100: #c7c7f1,
  200: #a1a3e8,
  300: #7a7fdf,
  400: #5d61d8,
  500: #4043cf,
  600: #3b3bc4,
  700: #3230b8,
  800: #2924ad,
  900: #1e0a95,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$ds-warn-palette: (
  50: #ffebee,
  100: #ffced2,
  200: #f89c99,
  300: #f17471,
  400: #fd534c,
  500: #ff422e,
  600: #f3382f,
  700: #e12d29,
  800: #d42422,
  900: #c61313,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

/*-----------------------------*/
/*Components - Loader*/
/*-----------------------------*/
.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.cssload-speeding-wheel {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 500ms infinite linear;
  -o-animation: cssload-spin 500ms infinite linear;
  -ms-animation: cssload-spin 500ms infinite linear;
  -webkit-animation: cssload-spin 500ms infinite linear;
  -moz-animation: cssload-spin 500ms infinite linear;
}

$ds-success-palette: (
  50: #e7f6e6,
  100: #c5e8c1,
  200: #9fd999,
  300: #75cb6f,
  400: #53c04e,
  500: #2cb428,
  600: #20a51f,
  700: #099310,
  800: #008200,
  900: #006300,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-palette: $ds-blue-palette;
$my-primary: mat.define-palette($ds-blue-palette, 700);
$my-accent: mat.define-palette($ds-success-palette, 700);
$my-success: mat.define-palette($ds-success-palette, 700);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($ds-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-success,
        warn: $my-warn,
        success: $my-success )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
//@import url(bootstrap.min.css);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #edf0f2;
}

*:not(.mat-icon) {
  font-family: 'Poppins-r' !important;
}

@font-face {
  font-family: 'Poppins-r';
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-m';
  src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-b';
  src: url(../src/assets/fonts/Poppins-Bold.ttf);
}


/* -----------------------
---color variables---
----------------------- */
:root {
  --primary: #2A6DD9;
  --secondary: #5D62D8;
  --tertiary: #7CACF8;
  --pending: #FFEA4D;
  --success: #09930F;
  --warn: #C61313;
  --disable: #BABDC3;
  font-family: 'Poppins-r';

  // gradient var
  --megentagradient: linear-gradient(-154deg, #96FFFA, #2FAAA5, #027670);
}

/* -----------------------
---color style class---
----------------------- */
.hyperlink
{
  cursor: pointer;
}
.primary {
  color: #2A6DD9;
}

.secondary {
  color: #5D62D8;
}

.tertiary {
  color: #7CACF8;
}

.pending {
  color: #FFEA4D;
}

.success {
  color: #09930F;
}

.warn {
  color: #C61313;
}

.disable {
  color: #BABDC3;
}

.bodytext-color {
  color: #414141;
}

/* -----------------------
---Fonts Style Class---
----------------------- */
.heading-1,
h1 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.heading-2,
h2 {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
}

.subtitle-1,
h3 {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.subtitle-2,
h4 {
  font-size: 0.75rem !important;
  font-weight: 700 !important;
}

.bodytext-1 {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}

.f-12{
  font-size: 12px;
}
.f-14
{
  font-size: 14px;
}
.bold-font{
  font-family: 'Poppins-b' !important;
}


.w-100{
  width: 100% !important;
}

/* ----------------------------------------------
---Components Border Styling Class---
---------------------------------------------- */
.mat-radio-outer-circle,
.mat-checkbox-frame,
.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-background {
  border-color: #BFCCE2 !important;
}

.mat-radio-checked{
  .mat-radio-outer-circle{
    border-color: var(--primary) !important;
  }
}

.mat-slide-toggle-bar {
  background-color: #BFCCE2;
}

/* ----------------------------------------------
---Checkbox Component Styling Class---
---------------------------------------------- */
.checkbox-radius-4>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-frame,
.checkbox-radius-4>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-background,
.checkbox-radius-4>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-background {
  border-radius: 0.25rem;
}

.checkbox-radius-50>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-frame,
.checkbox-radius-50>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-background,
.checkbox-radius-50>.mat-checkbox-layout>.mat-checkbox-inner-container>.mat-checkbox-background {
  border-radius: 50%;
}

.mat-checkbox-inner-container {
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.mat-checkbox-checkmark {
  padding: 0.125rem;
}
.mat-checkbox-disabled label {
  cursor:not-allowed;
  background-color: #f2f2f2;
}
/* ----------------------------------------------
---Breadcrumbs Styling Class---
---------------------------------------------- */
.breadcrumb-item {
  font-size: 14px;
  font-family: 'Poppins-m';
}

/* ----------------------------------------------
---Button Styling Class---
---------------------------------------------- */
.big-btn-padding {
  padding: 0rem 1.25rem !important;
}

.big-btn-with-icon-padding {
  padding: 0rem 1rem !important;
}

.mat-stroked-button.mat-primary,
.mat-stroked-button.mat-warn {
  border: 0.125rem solid !important;
}

.border-btn-component>.mat-stroked-button.mat-primary:hover,
.border-btn-component>.mat-stroked-button.mat-primary:active {
  background-color: var(--primary);
  color: white;
}

.border-btn-component>.mat-stroked-button.mat-warn:hover,
.border-btn-component>.mat-stroked-button.mat-warn:active {
  background-color: var(--warn);
  color: white;
}

.raised-btn-component>.mat-raised-button.mat-primary:hover,
.raised-btn-component>.mat-raised-button.mat-primary:active {
  background-color: #0D52BF;
}

.raised-btn-component>.mat-raised-button.mat-warn:hover,
.raised-btn-component>.mat-raised-button.mat-warn:active {
  background-color: #C61313;
}

.mat-stroked-button.mat-success {
  border: 0.125rem solid !important;
  color: var(--success);
}

.mat-stroked-button.mat-success:hover,
.mat-stroked-button.mat-success:active {
  background-color: var(--success);
  color: white;
}

.mat-raised-button.mat-success {
  background-color: var(--success);
  color: white;
}

.mat-raised-button.mat-success:hover,
.mat-raised-button.mat-success:active {
  background-color: #057a0b;
}


/* ----------------------------------------------
---Stepper Styling Class---
---------------------------------------------- */
.mat-step-icon.mat-success {
  background-color: #057a0b !important;
  // border-radius: 50% !important;
  padding: 0.125rem;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 20px;
  background-color: #ffffff !important;
  width: 75%;
  border-radius: 0rem 0rem 0.675rem 0.675rem;
  box-shadow: 0rem 0.85rem 1rem -1rem #74799326 !important;
}

.mat-horizontal-stepper-header::before,
.mat-horizontal-stepper-header::after,
.mat-stepper-horizontal-line {
  border: 1px solid rgb(191 204 226);
}

.mat-step-header.mat-accent {

  .mat-step-icon:not(.mat-step-icon-selected, .mat-step-icon-state-number) {
    background-color: #52BB9C !important;
    box-shadow: 0rem 0.188rem 0.625rem #A0D9C8;
  }

  .mat-step-icon-selected {
    background-color: white;
    box-shadow: 0rem 0.188rem 0.625rem #A0D9C8;

    .mat-step-icon-content {
      height: 0.5rem;
      width: 0.5rem;
      background-color: #52BB9C;
      border-radius: 50%;
    }

    .mat-step-icon-content>span {
      display: none;
    }
  }

  .mat-step-icon-state-number:not(.mat-step-icon-selected) {
    background-color: white;
    border: 1px solid var(--disable);
  }

  .mat-step-icon-state-edit>.mat-step-icon-content>.mat-icon {
    //   font-size: 0.875rem !important;
    font-weight: 600;
    width: 0.875rem;
    height: 0.875rem;
  }
}

.mat-horizontal-content-container {
  padding: 0px !important;
}

.mat-step-header.mat-accent:hover {
  background-color: white !important;
}


/* ----------------------------------------------
---Expension Styling Class---
---------------------------------------------- */
.custom-accordion{
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0rem 0.188rem 0.10rem #041d9e26 !important;
  }

  .mat-expansion-panel:not(.mat-expanded):hover {
    .material-icons {
      color: var(--primary) !important;
      font-weight: 900;
    }
  }

  .custom-icon .mat-expansion-indicator {
    visibility: hidden;
  }
}
/* ----------------------------------------------
---Button Toggle Styling Class---
---------------------------------------------- */
.mat-button-toggle-group-appearance-standard {
  border: 0.125rem solid var(--primary);
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: 0.125rem solid var(--primary);
}

.mat-button-toggle:hover {
  background-color: #E8EFFA;
}

.mat-button-toggle-checked {
  background-color: var(--primary);
  color: white !important;

  .mat-button-toggle-checked:hover {
    background-color: #1b58b9 !important;
  }
}

/* ----------------------------------------------
---Card Styling Class---
---------------------------------------------- */
.card-shadow {
  box-shadow: 0rem 0.188rem 1.25rem #74799326 !important;
}

.mat-card-small-image {
  height: 2.75rem;
  width: 2.75rem;
}

.card-text-background {
  background-color: #f4f4ff;
  padding: 0.75rem;
}

/* ----------------------------------------------
---Input Field Styling Class---
---------------------------------------------- */
// .mat-form-field-infix {
//   border: none;
// }
// .mat-form-field-appearance-outline .mat-form-field-infix
// {
//   padding: 1.2em 0px 0.9em 0em !important;
// }
// .mat-form-field-flex
// {
//   display: flex !important;
//   align-items: center !important;
// }
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
// ::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
// mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
//   padding: 0.4em 0px
// }

// mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper {
//   top: -1.5em;
// }

// .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//   transform: translateY(-1.1em) scale(.75);
//   width: 133.33333%;
// }

// .mat-form-field-appearance-outline .mat-form-field-prefix,
// .mat-form-field-appearance-outline .mat-form-field-suffix {
//   top: 0.5em;
// }

// .mat-form-field-wrapper{
//   padding-bottom: 10px !important;
// }
.mat-input-element:disabled, .mat-form-field-type-mat-native-select .mat-form-field-disabled .mat-form-field-infix::after, .mat-select-disabled .mat-select-value
{
  color: rgba(0, 0, 0, 1);
}
.custom-input-lable, .mat-form-field-appearance-legacy .mat-form-field-label
{
  color: rgba(0, 0, 0, 0.90);
  font-size: 16px;
  font-weight: 500;
}


/* ----------------------------------------------
---Tabs Styling Class---
---------------------------------------------- */
.mat-tab-group.mat-primary {
  .mat-tab-label-content {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Poppins-r';
  }
}

/* ----------------------------------------------
---Scrollbar Styling Class---
---------------------------------------------- */

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track:vertical {
  background: #E4EAF2;
  border-left: 9px solid white;
  border-right: 9px solid white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #B6C8DE;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-radius: 8px;
}

::-webkit-scrollbar-track:horizontal {
  background: #E4EAF2;
  border-top: 9px solid white;
  border-bottom: 9px solid white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #B6C8DE;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 8px;
}
/* ----------------------------------------------
---Table Styling Class---
---------------------------------------------- */
table{
  box-shadow: none!important;
  .mat-cell{
    color:#414141;
    font-size: 14px;
  }
  th.mat-header-cell{
    background-color: #EEF5FF;
    color: #414141;
    font-weight: 600;
    padding: 0 12px;
    white-space: nowrap;
  }
  td.mat-cell
  {
    padding: 0 12px;
    white-space: nowrap;
  }
}


.twitter-like{
    .mat-progress-spinner{
        display: inline;
        stroke-opacity: 0.3 !important;
    }
}

 

/*--------------------------------------------------------------------------------begiN------------*/
/*Components - Loader*/
/*-----------------------------*/
.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.cssload-speeding-wheel {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 500ms infinite linear;
  -o-animation: cssload-spin 500ms infinite linear;
  -ms-animation: cssload-spin 500ms infinite linear;
  -webkit-animation: cssload-spin 500ms infinite linear;
  -moz-animation: cssload-spin 500ms infinite linear;
}


@keyframes cssload-spin {
  100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------------------enD------------*/
